*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.fpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 85vh;
    color: rgb(250, 250, 250);  
    /* Scroll Snap */
    background: url(images/image1.jpg) no-repeat center center/cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* section#home{
     height: auto;
    width: 100%;
    display: flex;
    
} */

/* body{
    margin-left: 50px;
} */

section#secondpage{
    display: flex;
    margin-top: 50px;
    margin-left: 335px;
    justify-content: space-between;
    width: 51%;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}



.view3{
    flex-direction: column;
    margin-left:  320px;
    margin-right: 320px;
    justify-content: center;
    padding: 15px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#images{
    flex-direction: column;
    margin-top: 10px;
    margin-left: 335px;
    margin-right: 335px;
    justify-content: center;
}


.view4{
    flex-direction: column;
    margin-top: 0px;
    margin-left: 320px;
    margin-left: 320px;
    justify-content: center;
    padding: 15px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.view5{
    margin-left: 320px;
    margin-right: 320px;
    justify-content: center;
    padding: 15px;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.share_on{
    margin-top: 10px;
    display: flex;
    color: rgb(228, 232, 241);
    font-size: 16px;
    margin-right: 200px;
    margin-left: 120px; 
    margin-bottom: 200px;   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content:center;
    
}

/* For footer */

.footer {
  float: left;
  left: auto;
  right: auto;
  position: fixed;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
  padding: 50px;
  margin-top: 80px;
  background-color: rgb(226, 219, 219);
  color: #ff0000;
  text-align: center;
}


/* For card-image */
.cardimg{
    height: 250px;
    width: 180px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    color: white;
    position: absolute;
    top: 660px;
    left: 1150px;
    background-color:  rgb(255, 0, 0);
    box-shadow: 3px 3px 3px 3px  rgb(248, 1, 1);
    -webkit-box-shadow:0 0 5px 5px  rgb(255, 0, 0);
    font-family: sans-serif;
    font-size: 12px;
}


.cardimg:hover{
    transition: step-end;
    background-color: rgb(255, 0, 0,0.3);
    }
